/*table{
	float: left;
	margin-top: 30px;
}*/

h1{
	padding: 5px;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

rect{
    fill: steelblue;
}

rect:hover{
    fill: #A6C5DE;
}


path {
	stroke: steelblue;
	stroke-width: 1;
	fill: none;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}