{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1>About Grade Grabber</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<p>Grade Grabber is a web application designed to help students at University of Illinois at Urbana-Champaign make the most of their education. Users can look up course grade distributions as well as average GPA by instructor for any class. Furthermore, Grade Grabber gives recommendations for what courses to take. The future is here.</p>
		</div>
		<div class="col-md-4">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h2>How do we get course data?</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<p>We have data on file including courses from the spring 2010 semester to the summer 2014 semester inclusive. Our data is received from a Freedom of Information Act request filed to the University of Illinois. Citing the Family Education Rights and Privacy Act, the university does not distribute grade data for courses with "low enrollment" or courses in which all students received the same grade.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h3>Authors</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
		<a href="http://www.github.com/thirawr"><p>Tyler Davis</p></a>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<a href="http://www.github.com/timthejiang"><p>Tim Jiang</p></a>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<p>Kathy Qiu</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<p>Jacob Schroeder</p>
		</div>
	</div>
</div>
{% endblock %}