<!DOCTYPE html>
<body>
<h2>Enter Fields to Update</h2>
<form action="action_page.php">
Average GPA:<br>
<input type="text" name="avg_gpa">
<br>
A+'s:<br>
<input type="text" name="aplus">
<br>
A's:<br>
<input type="text" name="a">
<br>
A-'s:<br>
<input type="text" name="aminus">
<br>
B+'s:<br>
<input type="text" name="bplus">
<br>
B's:<br>
<input type="text" name="b">
<br>
B-'s:<br>
<input type="text" name="bminus">
<br>
C+'s:<br>
<input type="text" name="cplus">
<br>
C's:<br>
<input type="text" name="c">
<br>
C-'s:<br>
<input type="text" name="cminus">
<br>
D+'s:<br>
<input type="text" name="dplus">
<br>
D's:<br>
<input type="text" name="d">
<br>
D-'s:<br>
<input type="text" name="dminus">
<br>
F's:<br>
<input type="text" name="f">
<br>
<br>
<input type="submit">
</form>

</body>
</html>