<!DOCTYPE html>
<form action="">
<h2>Display Course Data</h2>
  <p>Subject (e.g. CS):</p>
  <input type="text" id="subject" name="subject"><br>
  <p>Number (e.g. 411):</p>
  <input type="text" id="number" name="number"><br>
  <button type="click" onclick=submit name="Submit">Submit</button>
</form>
<form action="">
<h2>Choose a Record to Update</h2>
  <p>CRN:</p>
  <input type="text" id="CRN" name="CRN"><br>
  <p>Term (e.g. FA14, WN13, SP16, SU12):</p>
  <input type="text" id="term" name="term"><br>
  <button type="click" onclick=submit name="Submit">Submit</button>
</form>

<html>
<body>
<h2>Delete a Record</h2>
<form action="action_page.php">
CRN:<br>
<input type="text" name="crn">
<br>
Term (e.g. FA14, WN13, SP16, SU12):<br>
<input type="text" name="term">
<br>
<br>
<input type="submit">
</form>




<h2>Insert a Record</h2>
<form action="action_page.php">
Subject:<br>
<input type="text" name="subject">
<br>
Course Number:<br>
<input type="text" name="coursenum">
<br>
Title:<br>
<input type="text" name="title">
<br>
CRN:<br>
<input type="text" name="crn">
<br>
Term (e.g. FA14, WN13, SP16, SU12):<br>
<input type="text" name="term">
<br>
Average GPA:<br>
<input type="text" name="avg_gpa">
<br>
A+'s:<br>
<input type="text" name="aplus">
<br>
A's:<br>
<input type="text" name="a">
<br>
A-'s:<br>
<input type="text" name="aminus">
<br>
B+'s:<br>
<input type="text" name="bplus">
<br>
B's:<br>
<input type="text" name="b">
<br>
B-'s:<br>
<input type="text" name="bminus">
<br>
C+'s:<br>
<input type="text" name="cplus">
<br>
C's:<br>
<input type="text" name="c">
<br>
C-'s:<br>
<input type="text" name="cminus">
<br>
D+'s:<br>
<input type="text" name="dplus">
<br>
D's:<br>
<input type="text" name="d">
<br>
D-'s:<br>
<input type="text" name="dminus">
<br>
F's:<br>
<input type="text" name="f">
<br>
<br>
<input type="submit">
</form>

</body>
</html>