{% extends "layout.html" %}
{% block body %}
<table>
	<tr>
		<td>CRN</td>
		<td>Term</td>
		<td>Subject</td>
		<td>Number</td>
		<td>Title</td>
		<td>Average GPA</td>
		<td>A+'s</td>
		<td>A's</td>
		<td>A-'s</td>
		<td>B+'s</td>
		<td>B's</td>
		<td>B-'s</td>
		<td>C+'s</td>
		<td>C's</td>
		<td>C-'s</td>
		<td>D+'s</td>
		<td>D's</td>
		<td>D-'s</td>
		<td>F's</td>
		<td>Instructor</td>
		<td>Section</td>
	</tr>
	{% for each in results %}
	<tr>
		{% for attribute in each %}
			<td>{{attribute}}</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
{% endblock %}