{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1>{{className}}</h1>
		</div>
	</div>
</div>

<!-- 	<h3>Overall</h3>-->
<div class="container-fluid">
		<div class="row">
		{% if results[0] != None %}
			<div class="col-sm-6" id="barFrame"></div>

			<div class="col-sm-6">
				<h3>GPA</h3>
				<p>The overall average grade of <strong>{{shortName}}</strong> from {{semDetails[semDetails | length - 1][0]}} to {{semDetails[0][0]}} is <strong>{{'%.2f' % overall_grades[4]}}</strong>.  </p> 
                <p>Students perform best in this course during the {{course_summary[0][0]}} semester with an average grade of {{'%.2f' % course_summary[0][1]}}.
				<h3>Foo</h3>
				<p>Lorem ipsum blah blah blah blah.</p>
				<h3>Bar</h3>
				<p>Lorem ipsum blah blah blah blah.</p>
			</div>
			<!-- <div class="col-sm-2"></div> -->
		</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6" id="lineFrame"></div>
		<div class="col-sm-6" id="instrFrame"></div>
	</div>
</div>
		{% else %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<p>Sorry, we weren't given grades for this course. Read about how we requested this data <a href="/about">here.</a></p>
		</div>
	</div>
</div>
		{% endif %}
</div>

<div class="container-fluid">
    <div class="col-md-12">
    	<h3>Semester Details:</h3>
    </div>
</div>
	<div class="table-responsive">
		<table class="table table-hover">
			<tr>
				<td>Term</td>
				<td>Instructor</td>
				<td>Average GPA</td>
				<td>A+'s</td>
				<td>A's</td>
				<td>A-'s</td>
				<td>B+'s</td>
				<td>B's</td>
				<td>B-'s</td>
				<td>C+'s</td>
				<td>C's</td>
				<td>C-'s</td>
				<td>D+'s</td>
				<td>D's</td>
				<td>D-'s</td>
				<td>F's</td>
				<td>W's</td>
			</tr>
			{% for row in semDetails %}
			<tr>
				{% for attribute in row %}
				<td>{{attribute}}</td>
				{% endfor %}
			</tr>	
			{% endfor %}
		</table>
<!-- 	</div>
 --></div>

{% if vizData %}
    <script type="text/javascript">
        var barGrades = {{vizData[0]|safe}};
        var barW = 400;
        var barH = 350;
        // var barPadding = 5;
        // console.log(barGrades);

        if (barGrades){
            renderBar(barGrades, barW, barH);
        }

        var lineW = 400;
        var lineH = 350;
        
        var lineGrades = {{vizData[1] | safe}}
        renderLine(lineGrades, lineW, lineH);

        var instrData = {{vizData[2] | safe}}
        var instrW = 400;
        var instrH = 350;
        renderInstructorBar(instrData, instrW, instrH);

        function renderBar(grade, w, h) {
            var margin = { top: 40, right: 20, bottom: 20, left: 40 },
            width = w - margin.left - margin.right,
            height = h - margin.top - margin.bottom;

            var x = d3.scale.ordinal().rangeRoundBands([0, width], .1);

            var y = d3.scale.linear().range([height, 0]);

            var xAxis = d3.svg.axis().scale(x).orient("bottom");
            var yAxis = d3.svg.axis().scale(y).orient("left");

            var svg = d3.select("#barFrame").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            x.domain(grade.map(function(d) { return d[0]; }));
            y.domain([0, d3.max(grade, function(d) { return d[1]; })]);

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

            svg.append("g")
                .attr("class", "y axis")
                .call(yAxis)
            .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 3)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .text("Count")

            svg.selectAll(".bar")
                .data(grade)
            .enter().append("rect")
                .attr("class", "bar")
                .attr("x", function(d) { return x(d[0]); })
                .attr("width", x.rangeBand())
                .attr("y", function(d){ return y(d[1]); })
                .attr("height", function(d) {return height - y(d[1]); });

            svg.append("text")
                .attr("x", (width / 2))
                .attr("y", 0 - (margin.top / 2))
                .attr("text-anchor", "middle")
                .style("font-size", "16px")
                .style("font-family", "sans-serif")
                .text("Overall Grade Distribution");

            // d3.select("#barFrame").attr("align", "center");

            function type(d){
                d[1] = +d[1];
                return d;
            }
        }

        function renderLine(gpa_list, w, h){
        	var data = gpa_list
            // console.log(data);


        	var margin = {
        			top: 60,
        			bottom: 20,
        			right: 20,
        			left: 40
        		};


        	var width = w - margin.left - margin.right,
        		height = h - margin.top - margin.bottom;

            var canDraw = data.length > 2;

        	// var xScale = d3.scale.ordinal()
        		// .rangeRoundBands([0, width]);

            var xScale = d3.scale.ordinal()
                .rangeRoundBands([0, width]);

        	var yScale = d3.scale.linear()
        		.range([height, 0])
                .domain([1, 4]);

        	var line = d3.svg.line()
        		// .interpolate("basis")
        		.x(function(d) {return xScale(d[0]); })
        		.y(function(d) {return yScale(d[1]); });
        		//.interpolate("basis");

        	var svg = d3.select("#lineFrame").append("svg")
        		.attr("width", width + margin.left + margin.right)
        		.attr("height", height + margin.top + margin.bottom)
        		.append("g")
        			.attr("transform", "translate(" + margin.left + ", " + margin.top +")");

        	xScale.domain(data.map(function(d) { return d[0] }));
        	// yScale.domain(data.map(function(d) { return d[1]; }));
            // xScale.domain(d3.extent(data, function(d) { return d[0]; }));
            // yScale.domain(d3.extent(data, function(d) { return d[1]; }));


        	var xAxis = d3.svg.axis()
        		.scale(xScale)
        		.orient("bottom");

        	var yAxis = d3.svg.axis()
        		.scale(yScale)
        		.orient("left");

        	svg.append("g")
        		.attr("class","x axis")
        		.attr("transform", "translate(0," + (height) + ")")
        		.call(xAxis)
        	.append("text")
        		.attr("x", width)
        		.attr("y", -10)
        		.attr("dy", ".71em")
        		.style("text-anchor", "end")
        		.text("Term");

        	svg.append("g")
        		.attr("class","y axis")
        		.call(yAxis)
        	.append("text")
        		.attr("transform", "rotate(-90)")
        		.attr("y", 3)
        		.attr("dy", ".71em")
        		.style("text-anchor", "end")
        		.text("GPA");

            if (canDraw){
                svg.append("g")
                    .append("path")
                    .attr("d", line(data))
                    .attr("class", "line");
            }
            else{
                svg.append("text")
                    .attr("x", (width / 2))
                    .attr("y", (height/2))
                    .attr("text-anchor", "middle")
                    .style("font-size", "12px")
                    .style("font-family", "sans-serif")
                    .text("Sorry, we don't have enough data to chart this.")
            }


            svg.append("text")
                .attr("x", (width / 2))
                .attr("y", 0 - (margin.top / 2))
                .attr("text-anchor", "middle")
                .style("font-size", "16px")
                .style("font-family", "sans-serif")
                .text("Average Grade by Term");

        	// d3.select("#lineFrame").attr("align", "center");

        	// svg.selectAll("path").data(data)
        	// 	.enter().append("path")
        	// 	.attr("d", line(data));

        	// svg.append("path")
        	// 	.attr("class", "line")
        	// 	.attr("d", line(data));

        	// svg.append("path")
        	// 	.attr("d", lineGen(data)) //data is hardcoded into this application
        	// 	.attr("stroke", "green")
        	// 	.attr("stroke-width", 2)
        	// 	.attr("fill", "none");

        	function type(d){
        		d.gpa = +d.gpa
        		return d;
        	}

        }

        function renderInstructorBar(data, w, h) {
            var margin = { top: 60, right: 20, bottom: 20, left: 40 },
            width = w - margin.left - margin.right,
            height = h - margin.top - margin.bottom;

            var canChart = data.length > 1;

            var x = d3.scale.ordinal().rangeRoundBands([0, width], .2);

            var y = d3.scale.linear().range([height, 0]);

            var xAxis = d3.svg.axis().scale(x).orient("bottom").tickFormat("");
            var yAxis = d3.svg.axis().scale(y).orient("left");

            var svg = d3.select("#instrFrame").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            var tip = d3.tip()
              .attr('class', 'd3-tip')
              // .offset([-10, 0])
              .html(function(d){
                var text = d[0] + ": "
                var grade = parseFloat(Math.round(d[1] * 100) / 100).toFixed(2);

                return text + grade;
              });

            svg.call(tip);



            x.domain(data.map(function(d) { return d[0]; }));
            y.domain([0, d3.max(data, function(d) { return d[1]; })]);

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis)
                .selectAll("text")
                  .attr("y", 10)
                  .attr("x", -20)
                  .attr("transform", "rotate(15)")
                  .style("text-anchor", "start")
                .append("text")
                    .attr("x", width)
                    .attr("y", 10)
                    .attr("dy", ".71em")
                    .style("text-anchor", "end")
                    .text("Instructor");

            svg.append("g")
                .attr("class", "y axis")
                .call(yAxis)
            .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 3)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .text("Average Grade")

            if(canChart){
                svg.selectAll(".bar")
                    .data(data)
                .enter().append("rect")
                    .attr("class", "bar")
                    .attr("x", function(d) { return x(d[0]); })
                    .attr("width", x.rangeBand())
                    .attr("y", function(d){ return y(d[1]); })
                    .attr("height", function(d) {return height - y(d[1]); })
                .on("mouseover", tip.show)
                .on("mouseout", tip.hide);
            }
            else{
                svg.append("text")
                    .attr("x", (width / 2))
                    .attr("y", (height/2))
                    .attr("text-anchor", "middle")
                    .style("font-size", "12px")
                    .style("font-family", "sans-serif")
                    .text("Sorry, we don't have enough data to chart this.")
            }

            svg.append("text")
                .attr("x", (width / 2))
                .attr("y", 0 - (margin.top / 2))
                .attr("text-anchor", "middle")
                .style("font-size", "16px")
                .style("font-family", "sans-serif")
                .text("Average Grade by Instructor");

                // d3.select("#barFrame").attr("align", "center");

            function type(d){
                d[1] = +d[1];
                return d;
            }
        }


        // var chart = $("#barFrame"),
        //     aspect = chart.width() / chart.height(),
        //     container = chart.parent();
        // $(window).on("resize", function() {
        //     var targetWidth = container.width();
        //     chart.attr("width", targetWidth);
        //     chart.attr("height", Math.round(targetWidth / aspect));
        // }).trigger("resize");


    </script>
{% endif %}    
{% endblock %}